## Exercise pandas

The TB_burden_age_sex_2019-04-23.csv for 2017 from the site https://www.who.int/tb/country/data/download/en/ can be found on the data folder. In this exercise you will open the file with `pd.read_csv()` method and do the following cleaning

- drop the collumns iso2, iso3, iso_numeric. 
- rename the collumn age_group to age


After that you answer the questions 0 to 4.

In [ ]:
"""
Expected outcome: 
	country	year	measure	unit	age	sex	best	lo	hi
0	Afghanistan	2017	inc	num	0-14	a	7500	4300.0	11000.0
1	Afghanistan	2017	inc	num	0-14	f	3600	1400.0	5800.0
2	Afghanistan	2017	inc	num	0-14	m	4000	1500.0	6400.0
3	Afghanistan	2017	inc	num	0-4	f	1800	0.0	4400.0
4	Afghanistan	2017	inc	num	0-4	m	2200	0.0	5400.0
"""

In [ ]:
# write your read function here

### Question 0 (Example)

What is the first country in your dataframe df? This function should return a Series

In [ ]:
def answer_zero():

    return df.iloc[0]

answer_zero()

In [ ]:
"""
Expected outcome:
country    Afghanistan
year              2017
measure            inc
unit               num
age               0-14
sex                  a
best              7500
lo                4300
hi               11000
Name: 0, dtype: object
"""

### Question 1

Which country has the highest estimate of TB?

This function should return a the string India.

In [ ]:
def answer_one():
    
    return 0 #write your code here

answer_one()

### Question 2

Which country has the smallest difference between high and low estimates?
This should return 'American Samoa'

In [ ]:
def answer_two():
    
    return 0 #write your code here, should return American Samoa

answer_two() # should return American Samoa

### Question 3

How many countries have 65plus records? This should return 119

In [ ]:
def answer_three(df):
    
    return 0 # write your code here, should return 119

answer_three(df) # should return 119

### Question 4

Select the females and exclude the 'age = all' records. What are the top 5 countries that have the two most highest 'best estimates'?

In [ ]:
#write your code here, should return this
"""
India          1084000
Indonesia       393000
China           296000
Pakistan        252000
Philippines     173000
"""